.Header {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3498db;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    z-index: 190;
}

.Logo {
    color: #ecf0f1;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

@media (max-width: 499px){
    .Header {
        padding: 0 10px;
    }
}