.Footer {
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #3498db;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
}

.Text {
    margin-top: 8px;
    text-align: center;
    font-size: small;
}

.Logo {
    color: #000;
    font-family: 'Russo One', sans-serif;
}