.Middle {
  width: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  margin-top: 30px;
}

.Text {
  width: 80%;
  text-align: center;
}

.Plate {
  width: 500px;
  height: 130px;
  z-index: 50;
}

.Lp {
  position: relative;
  bottom: 120px;
  left: 15px;
  z-index: 150;
  width: 400px;
}

.Input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: "Teko", sans-serif;
  font-size: 5rem;
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.BtnCon {
  margin-top: -100px;
}

.Btn {
  display: flex;
  align-items: center;
  margin: auto;
  font-weight: bold;
  font-size: 2rem;
}

.CarData {
  text-align: right;
}

@media (max-width: 700px) {
  .Middle {
    width: 100%;
  }

  .Plate {
    width: 350px;
    height: 90px;
  }

  .Lp {
    position: relative;
    bottom: 83px;
    left: 10px;
    width: 290px;
  }

  .Input {
    font-size: 3.5rem;
    letter-spacing: 10px;
  }

  .BtnCon {
    padding-top: 30px;
  }
}
